/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    text-align: center;
    background-color: #beb7da;
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/torshov.jpg");
    background-size: cover;
    margin: 0px;
    padding: 250px;
}

.herotext {
    color: white;
    text-shadow: 3px 3px 6px skyblue;
    background-color: #1D3557;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    margin: 0 auto;
    width: 250px;
    font-size: 40px;
}

.hero-description {
    color: white;
    text-shadow: 3px 3px 6px skyblue;
    font-size: 30px;
}

.activity-section {
    background: #F1FAEE;
    padding: 50px;
    margin-bottom: 80px;
}

.activities{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    padding: 20px;
    margin-top: 0;
    height: 300px;

}

.action{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}


.activity-title{
    color:#1D3557;
    font-weight: bold;
    font-size: 20px;
    background-color: coral;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.action img{
    width: 200px;
    border-radius: 20px;
}

.activity-des{
    color: #1D3557;
    font-size: 16px;
    margin: 10px 20px 50px 20px;
    padding: 10px 20px 20px 20px;
    width: 200px;    
}

.card{
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #A8DADC;
    color: #2b2839;
    border-bottom: 6px solid #e3c139;
    width: 600px;
    height: auto;
    border-radius: 12px;
    /* background-color: #d8cefe; */
}

.avatar{
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

.card-tittle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    color: #1D3557;
}

.card-des{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1D3557;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

